article.cofactor-team-page
  h1 Cofactor: #{@team.name.titleize}

  ul.nav.nav-pills
    - @team.pages.each do |page|
      li: a href="#page-#{page.id}" data-toggle="tab" = page.name.titleize

  .tab-content.team-page-item
    - @team.pages.each do |page|
      .tab-pane id="page-#{page.id}": iframe src=page.url

javascript:
  jQuery(function ($) {
    $('.nav.nav-pills li a:first').click();

    function resizeIframe () {
      $('.team-page-item iframe').each(function () {
        $i = $(this);

        $i.height(window.innerHeight - $i.offset().top);
      });
    };

    setTimeout(function () { setInterval(resizeIframe, 500) }, 100);
  });