.panel-heading: .panel-title: h5 New page area

.panel-body
  = form_for @page_area, url: cms_page_areas_path, html: {class: 'form-horizontal'} do |f|
    = render partial: 'fields', locals: { f: f }
